.contenedorFormulario{
width: 100%;
padding-top: 100px;
height: 700px;

}

.formulario{
    text-align: inherit;
    
    font-size: 25px;
    padding-left: 0px;
    padding-top: 70px;
    width: 50%;
    color: darkorange;
}
.formulario h2{
    margin-left: 0px;
}
form{
    float: left;
    margin: 10px;
    padding-left: 30px;
  
}
input{
    margin:20px 3px;
}

.imagenForm {
    max-width: 50%;
    float: right;
     
    
}