.contenedorFormulario{
    top: 120px;
}
.contenedorFormulario form{
    width: 70%;
    align-content: center;

}

input{
    margin-left: 30px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    width: 80%;
}
submit{
    width: auto;
}
form h6{
    
    margin: 20px;
}

